body{
    font-family: 'Poppins', sans-serif;
}
.btn-style{
    background-color: #E76F51;
    padding: 10px 24px;
    border-radius: 5px;
    border: none; 
}
.img-style:hover img{
    transition: all 2s ease-in;
   transform: scale(1.2);
}

.text-style{
    color: #E76F51;
    border: 1px solid #E76F51;
    padding: 10px 24px;
    border-radius: 5px;
}
.txt-color{
    color: #E76F51;  
}
